<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Thermofisher.Foundation.IO"
                          publicKeyToken="7336a1ad73b8d604"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.42-3.0.177.0" newVersion="3.0.178.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
